@model PartsUnlimited.Models.Browse

@{
    ViewBag.Title = "Browse Products";
}

<section class="section-alt">
    <h2>@Model.Category.Name</h2>
    @await Html.PartialAsync("_ProductList", Model.Products)
</section>
